@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.ActiveController.AppConfig.ProductInfo.Title</title>

    <link rel="stylesheet" href="~/css/packages.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/packages.min.js" asp-append-version="true"></script>

    @Html.Partial("_CookieConsentPartial")
    @Html.Partial("_GlobalVariablesPartial")
    @Html.Partial("_HeaderMenuBarPartial")

    <div class="container body-content">

        <div id="loader-indicator" class="loader-div" style="display: none;">
            <img src="~/images/animatedEllipse.gif" class="ajax-loader" />
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ViewBag.ActiveController.AppConfig.ProductInfo.Product </p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
